body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fdffcd;
  text-align: center;
}
h1 {
  font-size: 48px;
}

p {
  font-size: 18px;
}

.site-links {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  color: greenyellow;
}

.site-links a {
  color: green;
}

.email {
  color: green;
}

.image-credit {
  font-size: small;
  margin-bottom: 50px;
}
